<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.encrypto"
    tools:ignore="GoogleAppIndexingWarning">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_encryphant_start"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_encryphant_start_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".AccountManagerActivity" />

        <activity
            android:name=".ResetPINAcitivty"
            android:label="@string/title_activity_reset_pin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SecurityQuestionsActivity"
            android:label="@string/title_activity_security_questions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowAccountActivity"
            android:label="@string/title_activity_show_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddAccountActivity"
            android:label="@string/title_activity_add_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccountManagerActivity"
            android:label="@string/title_activity_account_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FirstLoginActivity"
            android:label="@string/title_activity_first_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>